/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
/*chave geral*/
*{
    h1{
        font-family: "Bebas Neue", sans-serif;
    }
}

body {
    background-color: #fff;
    margin: 0;
    padding-top: 90px;
}

/*header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1d1b1b;
    color: #3a3a3a;
    height: 90px;
    position: fixed; /* Fixa o cabeçalho na tela */
    top: 0; /* Posiciona o cabeçalho no topo */
    left: 0; /* Alinha o cabeçalho à esquerda */
    width: 100%; /* Faz o cabeçalho ocupar toda a largura da tela */
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    margin: 50px;
    padding: 0;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 20px;
    display: flex;
    font-family: 'Barlow Semi Condensed';
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #e9f4e8;
    font-size: 1em;
}
.nav-list a:hover{
    color: #dde023;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav {
        display: none;
    }
    
    .hamburger {
        display: flex;
        margin-right: 120px;
    }
    
    .menu-active .nav {
        display: block;
        position: absolute;
        top: 90px; /* Ajusta a posição do menu logo abaixo do header */
        left: 0;
        right: 0;
        background-color: #131313;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    }

    .menu-active .nav-list {
        display: block;
    }

    .menu-active .nav-list li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-active .nav-list a {
        font-size: 1.2em;
    }
}
/*fim do header*/
@media(max-width: 580px) {
    .image-text>h1{
        font-size: 33px;
    }
}
@media(max-width: 700px) {
    .image-text>h1{
        font-size: 55px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #131313;
}

section {
    display: flex;
    align-items: flex-start; /* Alinha os itens no início da seção */
    padding: 10px 45px;
    background: rgba(0, 0, 0, 0.3); /* Fundo preto com 50% de transparência */
    width: 1500px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    position: relative;
}

.fale {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    margin-right: 20px; /* Espaço entre a imagem e o formulário */
    margin-top: 140px;
    margin-left: -1300px;
}

.fale img {
    width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-bottom: 10px; /* Espaço entre a imagem e o texto */
    margin-top: -100px;
    margin-left: 90px;
}

.fale h3 {
    color: #f5f5f5;
    font-size: 1.2rem; /* Ajuste o tamanho da fonte conforme necessário */
    width: 600px;
    text-align: center;
    margin-left: 20px;
    font-family: "Playwrite CU", cursive;
    letter-spacing: 2px;
}


section h2{
    color: #f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
    margin-left: 2px;
    width: 100%;
    margin-top: 30px;
    font-family: "Playwrite CU", cursive;
}

form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 150px;
    margin-left: 180px;
}

form label {
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}

form input, form textarea {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus, form textarea:focus {
    border-radius: 16px;
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #101026;
    border-radius: 16px;

}

/*Página do Obrigado*/

.brigado{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: #101026;
   flex-direction: column;
}
.text{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}
.paragrafo{
    color: #f5f5f5;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}