/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



/* Adiciona transição ao conteúdo */
.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opcional: Esconde o conteúdo durante a transição para evitar flickering */
.hidden {
    visibility: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1d1b1b;
    color: #3a3a3a;
    height: 90px;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}


.logo a > img {
    margin-top: 5px;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    margin: 50px;
    padding: 0;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 20px;
    display: flex;
    font-family: 'Barlow Semi Condensed';
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #e9f4e8;
    font-size: 1em;
}
.nav-list a:hover{
    color: #dde023;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

/* Responsividade */
@media (max-width: 768px) {
   
    .nav {
        display: none;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .hamburger {
        display: flex;
        margin-right: 50px;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
    }

    .hamburger div {
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition: all 0.3s ease;
    }

    /* Animação do menu ao abrir */
    .menu-active .nav {
        display: block;
        opacity: 1;
        transform: translateY(0);
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        background-color: #131313;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
        height: 200px;
    }

    .menu-active .nav-list {
        display: block;
    }

    .menu-active .nav-list li {
        margin: 15px;
        margin: auto;
        text-align: center;
        display: flex;
    }

    .menu-active .nav-list a {
        font-size: 1.2em;
        opacity: 0;
        animation: fadeIn 0.5s ease forwards;
        animation-delay: 0.2s;
    }

    /* Animação do ícone de hambúrguer para um "X" ao abrir */
    .menu-active .hamburger div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-active .hamburger div:nth-child(2) {
        opacity: 0;
    }

    .menu-active .hamburger div:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    /* Animação de fade-in para os links do menu */
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/*FOTOS */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eaeaea;
    overflow-x: hidden;
}

.container{
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    overflow: hidden; 
}

.container .slide .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.container .slide .item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    z-index: 2; 
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #fff;
    transition: 0.3s;
    background-color: transparent;
    color: white;
}

.button button:hover{
    background: #000000;
    color: #fff;
}


.hist {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    margin-top: 900px;
}

/* Estilização comum para as seções */
.section-left, .section-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
}

/* Texto à esquerda, imagem à direita */
.section-left {
    flex-direction: row; 
    text-align: center;
    justify-content: center;
    gap: 200px;
    
}

/* Texto à direita, imagem à esquerda */
.section-right {
    flex-direction: row-reverse; 
    text-align: center;
    justify-content: center;
    gap: 350px;
}

/* Estilos da imagem à direita */
.right-image {
    width: 500px;
    height: auto;
}

/* Estilos da imagem curva à esquerda */
.curved-image-container {
    width: 500px;
    height: 550px;
    overflow: hidden;
    margin-left: 230px;
    margin-top: -50px;
}

.curved-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-content {
    position: relative; 
    display: flex;
    flex-direction: column; 
    max-width: 600px; 
    font-size: 20px;
    padding: 70px; 
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 2px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    color: black;
    overflow: hidden; 
    font-family: "Caveat", cursive;
    letter-spacing: 1px;
    margin-right: 90px;
    margin-bottom: 70px;
}

.text-content h1 {
    margin-bottom: 20px; 
    font-size: 35px;
    font-family: "Caveat", cursive;
    left: 2px;
}

/*rodape*/
.containerr{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500px;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #10a140;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 43px;
    width: 44px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #000000;
}
.social-links>a>img{
    margin-top: 5px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
 /* fim do rodape*/



