/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*chave geral*/
*{
    h1{
        font-family: "Bebas Neue", sans-serif;
    }
}
body {
    background-color: #fff;
    margin: 0;
    padding-top: 90px;
}
/*header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1d1b1b;
    color: #3a3a3a;
    height: 90px;
    position: fixed; /* Fixa o cabeçalho na tela */
    top: 0; /* Posiciona o cabeçalho no topo */
    left: 0; /* Alinha o cabeçalho à esquerda */
    width: 100%; /* Faz o cabeçalho ocupar toda a largura da tela */
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    margin: 50px;
    padding: 0;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 20px;
    display: flex;
    font-family: 'Barlow Semi Condensed';
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #e9f4e8;
    font-size: 1em;
}
.nav-list a:hover{
    color: #dde023;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav {
        display: none;
    }
    
    .hamburger {
        display: flex;
        margin-right: 120px;
    }
    
    .menu-active .nav {
        display: block;
        position: absolute;
        top: 90px; /* Ajusta a posição do menu logo abaixo do header */
        left: 0;
        right: 0;
        background-color: #131313;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    }

    .menu-active .nav-list {
        display: block;
    }

    .menu-active .nav-list li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-active .nav-list a {
        font-size: 1.2em;
    }
}
/*fim do header*/
@media(max-width: 580px) {
    .image-text>h1{
        font-size: 33px;
    }
}
@media(max-width: 700px) {
    .image-text>h1{
        font-size: 55px;
    }
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel-slide.current {
    opacity: 1;
    transform: translateX(0);
}

.carousel-slide.previous {
    transform: translateX(-100%);
}

.carousel-button {
    position: absolute;
    top: 250px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
    top: 350px;
}

.carousel-button.next {
    right: 10px;
    top: 350px;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-slide > img {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Escurecimento */
    z-index: 1;
}

.preto {
    background-color: #272727;
    height: 180px;
    width: 100%;
    margin-top: -75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marcas {
    margin: 0 20px; /* Espaçamento entre as imagens */
}

.marcas > img,
.wesco > img {
    margin-top: 20px;
    width: 250px; /* Tamanho fixo para todas as imagens */
    height: auto; /* Mantém a proporção da imagem */
}

.carousel-slide.current > img {
    animation: zoomIn 8s ease-in-out forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    color: #21934b;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
}
strong{
    font-size: 38px;
    color: #fff;

}
.carousel-slide.current .image-text {
    animation: slideUp 1s forwards;
}

@keyframes slideUp {
    0% {
        transform: translate(-50%, 50%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.frase {
    text-align: center;
    margin-top: 40%;
    font-family: 'Roboto', sans-serif;
}

.frase h1 {
    color: #23382B;
}

.frase .highlight {
    color: #C98744;
}
/*media queries*/
@media(max-width:1350px){
    .titulos h1{
        flex-direction: column;
        display: flex;
    } 
    .titulos.active h1 {
        display: flex;
    }
}




.ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}

.ofertas > h1 {
    width: 100%;           /* Ocupa toda a largura disponível */
    text-align: center;     /* Centraliza o texto */
    font-size: 2.5em;       /* Aumenta o tamanho da fonte */
    color: #21934b;         /* Define a cor do texto */
    margin-bottom: 40px;    /* Adiciona espaço abaixo do título */
}

.produtos {
    width: 20%;
    margin: 1%;
    box-sizing: border-box;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.produtos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produtos button {
    margin-top: 10px;
    height: 50px;
    padding: 10px 20px;
    background-color: #21934b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.produtos button:hover {
    background-color: #1a7438;
}


.loc {
    position: relative;
    margin-top: -500px;
    height: 700px;
    background-image: url(../img/2148138621.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.loc > h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 90px;
    font-family: 'Barlow Semi Condensed';
    font-size: 50px;
    color: #21934b;
}

.loc > p {
    position: absolute;
    bottom: 390px;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    margin-bottom: 0;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    width: 580px;
    margin-right: 150px;
    margin-top: 0;
}

.loc > img {
    position: relative;
    z-index: 2;
    width: 400px;
    display: flex;
    margin-top: -320px;
    margin-left: 180px;
    border-radius: 1rem;
    border: solid #131313 3px;
}

.animate-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.in-view.animate-up {
    opacity: 1;
    transform: translateY(0);
}

.endereço {
    display: flex;
    width: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
}

.botao {
    display: flex;
    justify-content: end;
    margin-right: 300px;
    margin-top: 10px;
}

.btn {
    position: relative;
    z-index: 2;
    width: 200px;
    height: 80px;
    text-decoration: none;
    padding: 5px 20px; 
    background-color: transparent;
    color: #21934b; /* Cor do texto do botão */
    border-radius: 5px; 
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid #0c351b 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

.btn:hover {
    background-color: rgba(5, 5, 5, 0.2);
    color: #1c6938;
}


.map-responsive{

    

    z-index: 1;

    margin-left: 40px;

    margin-top: -350px;

    overflow:hidden;

    padding-bottom:30.25%;

    position:relative;

    height: 0;

}

.map-responsive iframe{

    left:0;

    top:0;


    position:absolute;

}

.icons-container {
    display: flex;
    justify-content: flex-end; /* Alinha os ícones à direita */
    gap: 15px; /* Espaço entre os ícones */
    margin-top: 10px; /* Espaço entre o parágrafo e os ícones */
    margin-right: 100px; /* Alinha com o texto do parágrafo */
    z-index: 2;
    position: relative;
    padding-top: 180px;
}

.icons {
    display: flex;
    align-items: center; /* Centraliza verticalmente o texto com o ícone */
    text-decoration: none;
    color: white; /* Cor do texto dos links */
}

/* Estiliza as imagens dentro dos links */
.icons img {
    margin-right: 5px; /* Espaço entre a imagem e o texto */
}



.hist {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 450px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);
    transition: transform 0.6s ease;
    position: relative; /* Necessário para posicionar o texto em relação ao .hist */
}

.hist:hover {
    transform: scale(1.1);
}

.hist > h1, .hist > p {
    transition: transform 0.3s ease, color 0.3s ease; /* Transição suave para o efeito de desgrudar */
    position: relative;
    
}

.hist:hover > h1, .hist:hover > p {
    transform: translateY(-10px);
    
}

.hist > h1 {
    text-align: center;
    color: #21934b;
    font-size: 25px;
    margin-top: 80px;
}

.hist > p {
    color: white;
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Barlow Semi Condensed';
    font-size: 20px;
    
}

