/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*chave geral*/
*{
    h1{
        font-family: "Bebas Neue", sans-serif;
    }
}
body {
    background-color: rgb(221, 220, 220);
    margin: 0;
}
/*header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1d1b1b;
    color: #3a3a3a;
    height: 90px;
    position: relative; /* Para o posicionamento absoluto do menu */
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    margin: 50px;
    padding: 0;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 20px;
    display: flex;
    font-family: 'Barlow Semi Condensed';
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #e9f4e8;
    font-size: 1em;
}
.nav-list a:hover{
    color: #dde023;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav {
        display: none;
    }
    
    .hamburger {
        display: flex;
    }
    
    .menu-active .nav {
        display: block;
        position: absolute;
        top: 90px; /* Ajusta a posição do menu logo abaixo do header */
        left: 0;
        right: 0;
        background-color: #131313;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    }

    .menu-active .nav-list {
        display: block;
    }

    .menu-active .nav-list li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-active .nav-list a {
        font-size: 1.2em;
    }
}
/*fim do header*/





.pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.inputbarra {
    position: relative;
}

.inputbarra img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.inputbarra > #barra {
    border-radius: 1rem;
    padding: 10px 10px 10px 40px;
    width: 300px;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.carousel-slide {
    margin-top: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel-slide.current {
    opacity: 1;
    transform: translateX(0);
}

.carousel-slide.previous {
    transform: translateX(-100%);
}

.carousel-button {
    position: absolute;
    top: 250px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
    top: 350px;
}

.carousel-button.next {
    right: 10px;
    top: 350px;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-slide > img {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Escurecimento */
    z-index: 1;
}

.carousel-slide.current > img {
    animation: zoomIn 8s ease-in-out forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    color: #21934b;
    font-size: 80px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
}
strong{
    font-size: 38px;
    color: #fff;

}
.carousel-slide.current .image-text {
    animation: slideUp 1s forwards;
}

@keyframes slideUp {
    0% {
        transform: translate(-50%, 50%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.frase {
    text-align: center;
    margin-top: 40%;
    font-family: 'Roboto', sans-serif;
}

.frase h1 {
    color: #23382B;
}

.frase .highlight {
    color: #C98744;
}
/*media queries*/
@media(max-width:1350px){
    .titulos h1{
        flex-direction: column;
        display: flex;
    } 
    .titulos.active h1 {
        display: flex;
    }
}
