/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* Transição de saída (fade-out) */
.fade-out {
    animation: fadeOut 0.5s forwards;
}

/* Transição de entrada (fade-in) */
.fade-in {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Evita o flicker ao trocar de página */
.hidden {
    visibility: hidden;
}


/*chave geral*/
*{
    h1{
        font-family: "Bebas Neue", sans-serif;
    }
}
body {
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
    padding-top: 90px;
}
/*header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1d1b1b;
    color: #3a3a3a;
    height: 90px;
    position: fixed; /* Fixa o cabeçalho na tela */
    top: 0; /* Posiciona o cabeçalho no topo */
    left: 0; /* Alinha o cabeçalho à esquerda */
    width: 100%; /* Faz o cabeçalho ocupar toda a largura da tela */
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    margin: 50px;
    padding: 0;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 20px;
    display: flex;
    font-family: 'Barlow Semi Condensed';
}

.nav-list li {
    margin: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}
.nav-list a:hover{
    color: #dde023;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

/* Responsividade */
@media (max-width: 768px) {
   
    .nav {
        display: none;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .hamburger {
        display: flex;
        margin-right: 50px;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 30px;
    }

    .hamburger div {
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition: all 0.3s ease;
    }

    /* Animação do menu ao abrir */
    .menu-active .nav {
        display: block;
        opacity: 1;
        transform: translateY(0);
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        background-color: #131313;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
        height: 200px;
    }

    .menu-active .nav-list {
        display: block;
    }

    .menu-active .nav-list li {
        margin: 15px;
        margin: auto;
        text-align: center;
        display: flex;
    }

    .menu-active .nav-list a {
        font-size: 1.2em;
        opacity: 0;
        animation: fadeIn 0.5s ease forwards;
        animation-delay: 0.2s;
    }

    /* Animação do ícone de hambúrguer para um "X" ao abrir */
    .menu-active .hamburger div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-active .hamburger div:nth-child(2) {
        opacity: 0;
    }

    .menu-active .hamburger div:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    /* Animação de fade-in para os links do menu */
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/*fim do header*/

@media(max-width: 580px) {
    .image-text>h1{
        font-size: 33px;
    }
}
@media(max-width: 700px) {
    .image-text>h1{
        font-size: 55px;
    }
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    max-height: 500px;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel-slide.current {
    opacity: 1;
    transform: translateX(0);
}

.carousel-slide.previous {
    transform: translateX(-100%);
}

/* Botões de navegação */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;      
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

/* Estilo das imagens */
.carousel-slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Escurecimento */
    z-index: 1;
}

.image-text {
    position: absolute;
    left: 5%;
    z-index: 2;
    color: white;
    background-color: rgba(182, 174, 174, 0);
    padding: 10px;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel {
        height:300px;
    }
    
    .carousel-slide {
        height: 300px;
    }

    .carousel-button {
        padding: 5px;
    }

    .image-text {
        font-size: 11px;
        font-weight: lighter;
    }
}


#faixa-logos {
    background-color:#202020;;
    padding: 20px 0;
    height: 170px;
  }
  
  .logos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logos-container img {
    max-width: 185px;
    max-height: 185px;
    margin: 20px;
    padding-bottom: 30px;
    text-align: center;
  }

  
  /* Responsividade para faixa de logos */
  @media (max-width: 708px) {
    .logos-container {
      flex-direction:column;
    }
    #faixa-logos {
        background-color: #202020;
        padding: 20px 0;
       height: 420px;
      }
      .logos-container img{
        width: 130px ;
        height: 70px;
      }
  }

.carousel-slide.current > img {
    animation: zoomIn 8s ease-in-out forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    color: #21934b;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
}
strong{
    font-size: 33px;
    color: #fff;

}
.carousel-slide.current .image-text {
    animation: slideUp 1s forwards;
}

@keyframes slideUp {
    0% {
        transform: translate(-50%, 50%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.frase {
    text-align: center;
    margin-top: 40%;
    font-family: 'Roboto', sans-serif;
}

.frase h1 {
    color: #23382B;
}

.frase .highlight {
    color: #C98744;
}
/*media queries*/
@media(max-width:1350px){
    .titulos h1{
        flex-direction: column;
        display: flex;
    } 
    .titulos.active h1 {
        display: flex;
    }
    .preto{

    }
}

/*protudos*/

.produtos > h2{
    color: #21934b;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 38px;
    padding-top: 70px
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
  }
  .product-card>img{
    width: 180px;
    height: 180px;
  }
  .product-card {
    border: 1px solid #3333332a;
    padding: 10px;
    height: 300px;
    text-align: center;
    background-color: white;
    transition: transform 0.2s;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .product-card:hover {
    transform: scale(1.02);
  }
/*fim protudos*/

.loc {
    position: relative;
    margin-top: -500px;
    height: 700px;
    background-image: url(../img/2148138621.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.loc > h1 {
    position: relative;
    z-index: 2;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Barlow Semi Condensed';
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.loc > p {
    position: absolute;
    bottom: 390px;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    margin-bottom: 0;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    width: 580px;
    margin-right: 150px;
    margin-top: 0;
}

.loc > img {
    position: relative;
    z-index: 2;
    width: 400px;
    display: flex;
    margin-top: -320px;
    margin-left: 180px;
    border-radius: 1rem;
    border: solid #131313 3px;
}

.animate-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.in-view.animate-up {
    opacity: 1;
    transform: translateY(0);
}

.endereço {
    display: flex;
    width: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
}

.botao {
    display: flex;
    justify-content: end;
    margin-right: 450px;
    margin-top: 10px;
    border-radius: 10px;
}

.btn {
    position: relative;
    z-index: 2;
    width: 120px;
    height: 70px;
    text-decoration: none;
    padding: 5px 20px;
    background-color: transparent;
    color: #ffffff; /* Cor do texto do botão */
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border: solid #ffffff 1px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0);
    transition: background-color 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease; /* Suave para as transformações */
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Escurecimento mais suave */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4); /* Sombra mais intensa para o destaque */
    transform: translate(-10px, -10px); /* Move o botão (e o texto junto) para a esquerda e para cima */
}

.btn span {
    display: inline-block;
    transition: transform 0.4s ease; /* Garantindo uma transição suave para o texto também */
}




.map-responsive{

    

    z-index: 1;

    margin-left: 100px;

    margin-top: -300px;

    overflow:hidden;

    padding-bottom:30.25%;

    position:relative;

    height: 0;

}

.map-responsive iframe{

    left:0;

    top:0;


    position:absolute;

}

.icons-container {
    display: flex;
    justify-content: flex-end; /* Alinha os ícones à direita */
    gap: 15px; /* Espaço entre os ícones */
    margin-top: -120px; /* Espaço entre o parágrafo e os ícones */
    margin-right: 100px; /* Alinha com o texto do parágrafo */
    z-index: 2;
    position: relative;
    padding-top: 180px;
}

.icons {
    display: flex;
    align-items: center; /* Centraliza verticalmente o texto com o ícone */
    text-decoration: none;
    color: white; /* Cor do texto dos links */
    letter-spacing: 1px;
    font-family: 'Barlow Semi Condensed';
}

/* Estiliza as imagens dentro dos links */
.icons img {
    margin-right: 5px; /* Espaço entre a imagem e o texto */
}

/* Elementos inicialmente invisíveis e deslocados para cima */
.animate-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Classe adicionada para mostrar o elemento */
.in-view.animate-up {
    opacity: 1;
    transform: translateY(0);
}




.hist {
    margin-top: 100px;
    display: inline;
    flex-direction: column;
    align-items: center;
    width:1100px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    position: relative; /* Necessário para posicionar o texto em relação ao .hist */
}


.hist > h1 {
    text-align: center;
    color: rgba(243,221,40,245);
    font-size: 35px;
    margin-top: -580px;
    margin-left: 580px;
}

.hist > p {
    color: black;
    text-align: center;
    width: 1000px;
    margin-left: 750px;
    margin-right: auto;
    font-family: 'Barlow Semi Condensed';
    font-size: 25px;
    letter-spacing: 2px;
    
}

.hist h1, .hist p, .hist img {
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(100px); /* Posiciona fora da tela, abaixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transições suaves */
}

.hist.show h1, .hist.show p, .hist.show img {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição original */
}

.coffe {
    margin-top: 150px;
    background-color: #131313;
    width: 1100px;
    height: 900px;
    border-radius: 50%;
    margin-left: -500px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    background-attachment: fixed;
}

.coffe > img {
    margin-left: 420px;
    width: 600px;
    margin-top: 100px;
    background-attachment: fixed;
}

.rodape {
    display: flex;
    margin-top: 400px; 
    display: flex;
    height: 130px;
    width: 100%;
    background-color: black;
}
ul{
    list-style: none;
    display: flex;
    margin: auto;
}

li>img{
    width: 40px;
    height: 40px;
    margin:30px;
    justify-content: space-between;
}
