/* Seu CSS aqui */
:root {
    --cor-primaria: #4ca80fa8; /* Azul escuro */
    --cor-secundaria: #10919677; /* Amarelo */
    --cor-terciaria: #202020 ; /* Amarelo */
    --cor-texto: #333; /* Preto */
}

    .profile-info {
        background-color: rgb(24, 23, 23); 
        border-radius: 5px;
        border: 2px solid #1615159a;
        box-shadow: 5cm;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centralizar horizontalmente */
        justify-content: center; /* Centralizar verticalmente */
        padding: 20px; /* Adicione o espaçamento interno desejado */
    }

    .action-buttons {
        display: flex;
        justify-content: center; /* Centralizar os botões */
        margin-top: 20px; /* Adicione espaçamento entre os botões e o restante do conteúdo */
    }



body {
    width: 100%;
    height: auto;
    margin: 0 auto; /* Centraliza a página na tela */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 10;
background-color: white;
    background-size: 1000%;
    color: var(--cor-texto);
    font-size: 16px; /* Tamanho de fonte global reduzido */
    zoom: 67%;
} 

/* Seu CSS aqui */
.perfil {
    text-align: center;
    margin: 90px auto; /* Centralizar verticalmente e adicionar margem superior */
    padding: 50px; /* Adicionar preenchimento interno */
    max-width: 800px; /* Limitar a largura para melhor legibilidade */
 background-color: rgb(0, 0, 0);
 height: 800px;
    background-size: cover; /* Cobrir todo o elemento */
    background-position: center; /* Centralizar a imagem */
    border-radius: 10px; /* Adicionar borda arredondada */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adicionar sombra */
}

.perfil img {


    display: block;
    width: 190px; /* Tamanho da imagem do perfil */
    height: 190px; /* Altura da imagem do perfil */
    border-radius: 50%; /* Tornar a imagem redonda */
    border: 4px solid #fff; /* Adicionar uma borda branca à imagem */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adicionar uma leve sombra */
    position: absolute; /* Posicionar absolutamente em relação ao elemento pai */
    top: 25%; /* Alinhar ao centro verticalmente */
    left: 50%; /* Alinhar ao centro horizontalmente */
    transform: translate(-50%, -50%); /* Centralizar completamente */
    cursor: pointer; /* Mudar o cursor para indicar que é clicável */
    transition: transform 0.3s; /* Adicionar transição suave */
}

.upload-btn {
    margin-top: 200px; /* Adicionar margem superior ao botão */
}

.upload-btn input[type="file"] {
    display: none; /* Oculta o input file nativo */
}

.upload-btn label {
    display: inline-block; /* Garante que o label tenha largura e altura para que seja clicável */
    background-color: #f00f0f;  /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s; /* Transição suave de cor */
 margin-left: 400px;
}

.upload-btn label:hover {
    background-color: #4d0b0b; /* Cor de fundo ao passar o mouse */
}

.profile-info {
    overflow-y: hidden; /* Impede a rolagem vertical */
}


.perfil h2 {
    font-size: 36px; /* Tamanho do nome do usuário */
    color: #fff; /* Cor do texto */
    margin-bottom: 100px; /* Espaçamento inferior */
   margin-top: 20px;
}

.perfil p {
    float: left;
    font-size: 20px; /* Tamanho do texto */
    color: #fff; /* Cor do texto */
    margin-bottom: 30px; /* Espaçamento inferior */
    margin-left: 15px;
}

/* Estilos dos botões */
/* Estilos dos botões */
.action-buttons {
    
    text-align: center;
    margin-top: 20px;
}

.action-buttons button {
    width: 110px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: initial;
    cursor: pointer;
    display: inline-block; /* Adicionado */
}

.save-button {
    background-color: #030303; /* Green */
    color: rgb(255, 255, 255);
   
}

.discard-button {
    background-color: #f44336; /* Red */
    color: rgb(255, 255, 255);
}

.save-button:hover, .discard-button:hover {
    opacity: 0.8;
}



/* Header */
header {
    background-color: black;
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: center; /* Alterado de space-between para center */
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
  
    top: 0;
    z-index: 999;
    transition: top 0.3s;
}
#img3 {
    width: 450px;
  margin-right: 1200px;
    vertical-align: top;
  
    margin-left: -px;
    margin-top: -250px;
   
}

#textoe{

    font-family:'Courier New', Courier, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 


}
.text-medium {
    background-color: white;
    padding: 40px 0; /* Redução do espaço ao redor da seção */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(55, 54, 54, 0.2); /*sombra nas letras*/
}

.text-medium h2 {
    margin-bottom: 30px; /* Redução do espaço abaixo do título */
}

.text-medium p {
    line-height: 1.6; /* Ajustando o espaçamento entre linhas */
    font-family:Arial, Helvetica, sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
    
   
    
}



.logo {
    /* Adicione as propriedades de margem */
    text-align: center;
   margin: 0 auto;
    color: #ffffff;
    display: flex;
    justify-content: center; /* Alterado de space-between para center */
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 200%;
 
   
   
   
   
}




.logo-container {
    position: fixed; /* Mantém a logo fixa na tela */
    left: 50%; /* Define a posição inicial no meio */
    transform: translateX(-50%); /* Centraliza a logo horizontalmente */
    top: 0; /* Mantém a logo no topo da página */
    width: 100%; /* Ocupa toda a largura da página */
}

.logo strong {
    animation:  5s linear infinite; /* Aplica a animação ao texto com duração de 5 segundos, linearmente, repetindo infinitamente */
}

@keyframes rotateText {
    from {
        transform: rotate(0deg); /* Começa a partir de 0 graus de rotação */
    }
    to {
        transform: rotate(360deg); /* Gira completamente em 360 graus */
    }
}
/* Adicione estas regras CSS ao seu arquivo CSS */



.contact-square {
    position: relative;
}

.contact-square .fa-plus {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px; /* Tamanho do ícone ajustado para 48px */
  
    
   
}



.menu-bars {
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

/* Estilo para o menu lateral */
#sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Esconde o menu inicialmente */
    width: 250px;
    height: 100%;
    background: #000000;
    transition: left 0.3s; /* Alterada a propriedade de transição */
}

#sidebar.active {
    left: 0; /* Mostra o menu quando estiver ativo */
    z-index: 999; /* Adicionado para garantir que o menu fique acima de outros elementos */
}

/* Estilizando o perfil */
.profile {
    padding: 20px;
    text-align: center;
    color: white;
    border-bottom: 1px solid #555; /* Adiciona uma borda inferior */
}

/* Estilo para os links do menu */
.sidebar-menu {
    padding: 20px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 20px; /* Adiciona padding horizontal */
    text-decoration: none;
    font-size: 18px; /* Tamanho da fonte dos links */
    transition: background-color 0.3s; /* Transição de cor de fundo */
}

.sidebar-menu a:hover {
    background: #555;
}

/* Estilizando os ícones */
.sidebar-menu i {
    margin-right: 10px;
}

/* Estilizando o botão de logoff */
.logoff-btn {
    position: absolute;
    bottom: 20px; /* Distância do botão em relação ao fundo da barra lateral */
    left: 20px; /* Distância do botão em relação à borda esquerda da barra lateral */
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px; /* Ajuste no tamanho dos botões */
    border-radius: 6px; /* Bordas dos botões arredondadas */
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 16px; /* Tamanho de fonte dos botões reduzido */
}

.logoff-btn:hover {
    background-color: #5c6da8;
    color: black;
}


.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.search-filter {
    display: flex;
    align-items: center;
}

.search-filter input[type="text"] {
    padding: 8px;
    margin-right: 10px;
}

.search-filter button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.search-filter select {
    padding: 8px;
}

/* Faixa com fundo de cor diferente */
/* Faixa com fundo de cor diferente */


.text-container {
    max-width: 800px; /* Largura máxima do conteúdo de texto */
    height: 500px;
    margin: 0 auto; /* Centralizar o conteúdo horizontalmente */
    text-align: center; /* Centralizar o texto */
    color: #fff; /* Cor do texto */
}

.text-container h2 {
    font-size: 24px; /* Tamanho do título */
}

.text-container p {
    font-size: 16px; /* Tamanho do texto */
}
#onda1{
        
    float: center;
  
    margin-top: -100px;

    width: 100%; /* Defina a largura da imagem */
    height: 200px;

}



/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animação de fade-out */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Aplica a animação de fade-in e fade-out */
.text-container h2 {
    animation: fadeIn 1s ease-in-out;
}

.text-container h2.fade-out {
    animation: fadeOut 1s ease-in-out;
}

.text-background {
    height: 100%;
background-color: #000000;
    background-size: 100%; /* Cor de fundo para a faixa de texto */
    padding: 10px;
    width: 100%;
    margin: -360px auto 0; /* Adiciona uma margem superior para descolar do cabeçalho */
    border: 3px solid #000000;
}





/* Contact Section */
.contact {
    background-color: white; /* Cor de fundo */
    padding: 40px 0; /* Espaçamento ao redor da seção */
    text-align: center; /* Centralizar conteúdo */
}

.contact-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Quebra de linha */
}

.contact-symbol {
    font-size: 30px;
    margin: 0 10px; /* Espaçamento entre os símbolos */
}

.contact-square {
    width: calc(18% - 10px); /* Largura dos quadrados */
    height: 500px;
    margin: 20px; /* Espaçamento entre os quadrados */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centralizar texto */
    border: 4px solid #3a3939; /* Borda */
    border-radius: 10px; /* Borda arredondada */
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease; /* Transição suave */
   
}
@media screen and (max-width: 768px) {
    .contact-square {
        width: 80%; /* Define a largura para 90% da largura da tela */
        max-width: 300px; /* Define a largura máxima dos itens */
    }
}

.contact-square:hover {
    transform: translateY(-5px); /* Efeito de levantamento ao passar o mouse */
}

.contact-square h3 {
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    font-size: 24px; /* Tamanho da fonte */
}

.contact-square p {
    margin-bottom: 10px; /* Espaçamento abaixo dos parágrafos */
    font-size: 20px; /* Tamanho da fonte */
    line-height: 1.5; /* Altura da linha */
}

.contact-square i {
    font-size: 80px; /* Tamanho do ícone */
    margin-bottom: 10px; /* Espaçamento abaixo do ícone */
    color: #000000; /* Cor do ícone */
   
}

.contact-square img {
    width: 100px; /* Largura da imagem */
    border-radius: 10px; /* Borda arredondada */
}

