<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Líder Equipamentos</title>
    <link rel="shortcut icon" href="../img/logo ruim.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/contato.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="#"><img src="../img/logo ruim.png" alt="Imagem da logo" width="170px" height="170px"></a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
            </ul>
        </nav>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <section>
        <h2>Fale Conosco</h2>
        <div class="fale">
            <img src="../img/homemnotelefone-removebg-preview.png" alt="Imagem da Logo">
        </div>
    
        <form action="https://api.staticforms.xyz/submit" method="post">
            <label>Nome</label>
            <input type="text" name="name" placeholder="Digite seu nome" autocomplete="off" required>
            <label>Email</label>
            <input type="email" name="email" placeholder="Digite seu email" autocomplete="off" required>
            <label>Mensagem</label>
            <textarea name="message" cols="30" rows="10" placeholder="Digite sua mensagem" required></textarea>
            <button type="submit">Enviar</button>
    
            <input type="hidden" name="accessKey" value="c174ea47-c282-4a7d-b50c-dda7aeebfdaf">
            <input type="hidden" name="redirectTo" value="http://127.0.0.1:5500/templates/obrigado.html">
        </form>
    </section>
    <script src="../js/produtos.js"></script>
</body>
</html>