<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Líder Equipamentos</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/logo ruim.png" type="image/x-icon">
</head>
<body>
    <!--Cabeçario-->
    <header class="header">
        <div class="logo">
            <a href="#"><img src="../img/logo ruim.png" alt="Imagem da logo" width="170px" height="170px"></a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
            </ul>
        </nav>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <!--Carrosel-->
    <main class="carousel">
        <button class="carousel-button prev" aria-label="Previous slide">❮</button>
        <section class="carousel-slide current">
            <img src="../img/ferramenta 1.png" alt="Imagem 1">
            <div class="image-text">
                <h1><strong>Equipamento robusto resultados <br></strong> perfeitos</h1>
            </div>
        </section>
        <section class="carousel-slide">
            <img src="../img/ferramenta 3.jpg" alt="Imagem 2">
            <div class="image-text">
                <h1><strong>Ferramentas que você pode</strong> <br> confiar</h1>
            </div>
        </section>
        <section class="carousel-slide">
            <img src="../img/ferramenta 4.jpg" alt="Imagem 3">
            <div class="image-text"><h1><strong>Seu trabalho nosso</strong> <br>equipamento</h1></div>
        </section>
        <section class="carousel-slide">
            <img src="../img/ferramenta 5.jpg" alt="Imagem 4">
            <div class="image-text">
                <h1><strong>A solução certa para todo</strong> <br> desafio</h1>
            </div>
        </section>
        <button class="carousel-button next" aria-label="Next slide">❯</button>
        <div class="frase"></div>
        </main>
        <!--faixa apos carrosel-->
        <article class="preto">
            <section class="marcas">
                <img src="../img/bosch2.png" alt="">
            </section>

            <section class="marcas">
                <img src="../img/kress2.png" alt="">
            </section>

            <section class="wesco">
                <img src="../img/WEscomnj.png" alt="">
            </section>

            <section class="marcas">
                <img src="../img/tramontina.png" alt="">
            </section>
        </article>

        <main class="ofertas">

            <h1>OFERTAS GROSSA</h1>
        
            <section class="produtos">
                <img src="../img/furadeira.png" alt="Produto 1">
                <h2>Furadera Braba</h2>
                <h3>Por: <strong class="forte">R$ 339,50</strong> </h3>
                <button>Comprar</button>
            </section>
            <section class="produtos">
                <img src="../img/furadeira.png" alt="Produto 2">
                <h2>Furadera Braba</h2>
                <h3>Por: <strong class="forte">R$ 339,50</strong> </h3>
                <button>Comprar</button>
            </section>
            <section class="produtos">
                <img src="../img/furadeira.png" alt="Produto 3">
                <h2>Furadera Braba</h2>
                <h3>Por: <strong class="forte">R$ 339,50</strong> </h3>
                <button>Comprar</button>
            </section>
            <section class="produtos">
                <img src="../img/furadeira.png" alt="Produto 4">
                <h2>Furadera Braba</h2>
                <h3>Por: <strong class="forte">R$ 339,50</strong> </h3>
                <button>Comprar</button>
            </section>
            <section class="produtos">
                <img src="../img/furadeira.png" alt="Produto 5">
                <h2>Furadera Braba</h2>
                <h3>Por: <strong class="forte">R$ 339,50</strong> </h3>
                <button>Comprar</button>
            </section>
            <section class="produtos">
                <img src="../img/furadeira.png" alt="Produto 6">
                <h2>Furadera Braba</h2>
                <h3>Por: <strong class="forte">R$ 339,50</strong> </h3>
                <button>Comprar</button>
            </section>
            <section class="produtos">
                <img src="../img/furadeira.png" alt="Produto 7">
                <h2>Furadera Braba</h2>
                <h3>Por: <strong class="forte">R$ 339,50</strong> </h3>
                <button>Comprar</button>
            </section>
            <section class="produtos">
                <img src="../img/furadeira.png" alt="Produto 8">
                <h2>Furadera Braba</h2>
                <h3>Por: <strong class="forte">R$ 339,50</strong> </h3>
                <button>Comprar</button>
            </section>
        </main>

        <section class="loc">
            <h1 class="frase animate-up">Nossa Loja</h1>
            <p class="frase animate-up">
                <img class="endereço" src="../img/placeholder.png" alt="">
                R. Domingos Baldini, 95 - Jardim Europa, Laranjal Paulista - SP, 18500-000
            </p>
            <div class="icons-container">
                <a class="icons" href="https://www.instagram.com/liderepisferramentas?igsh=a3d5amNpMm5leTZu">
                    <img src="../img/instagram (1).png" alt="">liderepisferramentas
                </a>
                <a class="icons" href=""><img src="../img/facebook (1).png" alt="">Face da loja</a>
                <a class="icons" href=""><img src="../img/e-mail (1).png" alt="">Lidereq@hotmail.com</a>
                <a class="icons" href=""><img src="../img/whatsapp (1).png" alt="">(15)3283-6304</a>
            </div>
            <div class="botao">
                <a target="_blank" href="https://maps.app.goo.gl/9An4Jriis3zFoJKd6" class="btn animate-up" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">Me leve até lá</a>
            </div>
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2596.130445592757!2d-47.83529001172894!3d-23.04275170293759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c66bdb2d344e43%3A0xbe87bf76e91fa127!2sR.%20Domingos%20Baldini%2C%2095%20-%20Jardim%20Europa%2C%20Laranjal%20Paulista%20-%20SP%2C%2018500-000!5e0!3m2!1spt-BR!2sbr!4v1724785733245!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
        

        
        <main class="hist">

            <div class="coffe">   
                <h1>o</h1>
                <img src="../img/direita.png" alt="">
            </div>
            
            <h1>Proteção e Conforto Prioritários</h1>

            <p>Com 13 anos de experiência no mercado, nossa loja se destaca pela ampla gama de produtos e Equipamentos de Proteção Individual (EPI) que oferece. Comprometidos com a segurança e o conforto dos nossos clientes, garantimos que cada item em nosso portfólio seja rigorosamente selecionado para atender aos mais altos padrões de qualidade. Desde soluções avançadas em proteção até produtos que priorizam o bem-estar, nossa missão é fornecer o melhor em segurança para que você possa trabalhar e viver com confiança. Explore nossa variedade e descubra como podemos ajudar a proteger o que é mais importante para você.</p>
            
        </main>
            

            <section class="rodape">
                <div class="roda"></div>
                <div class="roda2">
                    <img src="..//img/logo ruim.png" alt="">
                    <div class="contatos">
                        <a href="">
                            <img src="../img/instagram marelo.png" alt="">
                            <h1>Instagram da loja</h1>
                        </a>
                        <a href="">
                            <img src="../img/email marelo.png" alt="">
                            <h1>Email da loja</h1>
                        </a>
                        <a href="">
                            <img src="../img/facebok amarelo.png" alt="">
                            <h1>facebook da loja</h1>
                        </a>
                        <a href="">
                            <img src="../img/zap marelo.png" alt="">
                            <h1>WhatsApp da loja</h1>
                        </a>
                    </div>
                </div>
            </section>


        <script src="../js/script.js"></script>
</body>
</html>
