<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Líder Equipamentos</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/logo ruim.png" type="image/x-icon">
</head>
<body>
    <!--Cabeçario-->
    <header class="header">
        <div class="logo">
            <a href="#"><img src="../img/imglogos/logo ruim.png" alt="Imagem da logo" width="170px" height="170px"></a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
                <li><a href="../templates/contato.html"><img src="../img/carrinho-carrinho.png" alt=""></a></li>
            </ul>
        </nav>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>


    <!--Carrosel-->
    <main class="carousel">
        <button class="carousel-button prev" aria-label="Previous slide">❮</button>
        <section class="carousel-slide current">
            <img src="../img/imgcarrosel/ferramenta 1.png" alt="Imagem 1">
            <div class="image-text">
                <h1><strong>Qualidade em cada <br></strong>ferramenta</h1>
            </div>
        </section>
        <section class="carousel-slide">
            <img src="../img/imgcarrosel/ferramenta 5.jpg" alt="Imagem 2">
            <div class="image-text">
                <h1><strong>Ferramentas que você pode</strong> <br> confiar</h1>
            </div>
        </section>
        <section class="carousel-slide">
            <img src="../img/imgcarrosel/ferramenta 4.jpg" alt="Imagem 3">
            <div class="image-text"><h1><strong>Seu trabalho nosso</strong> <br>equipamento</h1></div>
        </section>
        <section class="carousel-slide">
            <img src="../img/imgcarrosel/ferramenta 3.jpg" alt="Imagem 4">
            <div class="image-text">
                <h1><strong>A solução certa para todo</strong> <br> desafio</h1>
            </div>
        </section>
        <button class="carousel-button next" aria-label="Next slide">❯</button>
        <div class="frase"></div>
        </main>
        <!--faixa apos carrosel-->
        <section id="faixa-logos">
            <div class="logos-container">
                <img src="../img/imglogos/booxer.png" alt="Logo 1">
                <img src="../img/imglogos/WEscomnj.png" alt="Logo 2">
                <img src="../img/imglogos/kress2.png" alt="Logo 3">
                
            </div>
        </section>


        <!--Protudos-->
        <h1 class="h1-destasques">DESTAQUES</h1>
        <section class="products">
            <!-- Produto 1 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/furadeira.png" alt="Produto 1"> 
                </div>
                <div class="product-details">
                    <h3 class="product-title">Produto 1</h3>
                    <p class="product-price">R$ 99,99</p>
                 <a href="../templates/produtoshtmls/pd1.html"><button class="add-to-cart">Comprar</button> </a> 
                </div>
            </div>

            <!-- Produto 2 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/furadeira.png" alt="Produto 2"> 
                </div>
                <div class="product-details">
                    <h3 class="product-title">Produto 2</h3>
                    <p class="product-price">R$ 149,99</p>
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>

            <!-- Produto 3 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/furadeira.png" alt="Produto 3">  
                </div>
                <div class="product-details">
                    <h3 class="product-title">Produto 3</h3>
                    <p class="product-price">R$ 199,99</p>
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>
            <!-- Produto 4 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/furadeira.png" alt="Produto 4"> 
                </div>
                <div class="product-details">
                    <h3 class="product-title">Produto 4</h3>
                    <p class="product-price">R$ 89,99</p>
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>

            <!-- Produto 5 até Produto 20 -->
            <div class="product-card">
                <div class="product-image">
                    <img src="../img/furadeira.png" alt="Produto 5"> 
                </div>
                <div class="product-details">
                    <h3 class="product-title">Produto 5</h3>
                    <p class="product-price">R$ 109,99</p>
                    <button class="add-to-cart">Comprar</button>
                </div>
            </div>

            <!-- Adicione os próximos produtos aqui -->
        </section>
        
        <!--Mapa localização-->
            <section class="caixa-mapa">
                <section class="mapa=container">
                    <section id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2596.130445592757!2d-47.83529001172894!3d-23.04275170293759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c66bdb2d344e43%3A0xbe87bf76e91fa127!2sR.%20Domingos%20Baldini%2C%2095%20-%20Jardim%20Europa%2C%20Laranjal%20Paulista%20-%20SP%2C%2018500-000!5e0!3m2!1spt-BR!2sbr!4v1724785733245!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </section>
                </section>
                <div class="info">
                    <h1>NOSSA LOJA</h1>
                    <p class="subtitle"><a href="https://maps.app.goo.gl/9An4Jriis3zFoJKd6">❯ Nos leve até lá </a></p>
                <article class="icons-mapa">
                    <!-- Ícones das redes sociais -->
                    <a href="https://facebook.com" target="_blank">
                        <img src="/img/imglogos/footer1.png" alt="Facebook">
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img src="/img/imglogos/footer3.png" alt="Instagram">
                    </a>
                </article>
                </div>
            </section>
            
        

        <main class="hist">
            <div class="icone-hist">   
                <img src="../img/imgfotos/engrenagem.png" alt="imagem maquina" width="0px" height="500px">
            </div>
        </main>

            <!--rodape-->
    <footer class="footer">
        <div class="containerr">
            <div class="row">
                <div class="footer-col">
                    <h4>Sobre</h4>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Nossos serviços</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Programa de Afiliados</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Preciso de ajuda</h4>
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Protudos</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Fale Conosco</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Acompanhe - nos</h4>
                    <div class="social-links">
                        <a href="#"><img src="../img/imglogos/footer1.png" alt="icone " height="30px" width="30px"></a>
                        <a href="#"><img src="../img/imglogos/footer3.png" alt="icone" height="30px" width="30px"></a>
                        <a href="#"><img src="../img/imglogos/footer2.png" alt="icone" height="30px" width="30px"></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
           


        <script src="../js/script.js"></script>
</body>
</html>
