<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=111111aaaaa, initial-scale=1.0">
    <title>Líder Equipamentos</title>
    <link rel="stylesheet" href="../css/sobre.css">
    <link rel="shortcut icon" href="../img/logo ruim.png" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="../templates/index.html"><img src="../img/logo ruim.png" alt="Imagem da logo" width="170px" height="170px"></a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
            </ul>
        </nav>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    
    <div class="container">

        <div class="slide">

            
            <div class="item" style="background-image: url(../img/foto\ 4.jpg);">
                <div class="content">
                    <div class="name">Switzerland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(../img/liqyer.jpg);">
                <div class="content">
                    <div class="name">Finland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(../img/foto\ 2.jpg);">
                <div class="content">
                    <div class="name">Iceland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(../img/foto\ 3.jpg);">
                <div class="content">
                    <div class="name">Australia</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(../img/foto\ 6.jpg);">
                <div class="content">
                    <div class="name">Netherland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(../img/foto\ 5.jpg);">
                <div class="content">
                    <div class="name">Ireland</div>
                    <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                    
                </div>
            </div>

        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left">❮</i></button>
            <button class="next"><i class="fa-solid fa-arrow-right">❯</i></button>
        </div>

    </div>
    <script src="../js/sobre.js"></script>
</body>
</html>