<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=111111aaaaa, initial-scale=1.0">
    <title>Líder Equipamentos</title>
    <link rel="stylesheet" href="../css/sobre.css">
    <link rel="shortcut icon" href="../img/logo ruim.png" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="../templates/index.html"><img src="../img/imglogos/logo ruim.png" alt="Imagem da logo" width="170px" height="170px"></a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="../templates/index.html">Início</a></li>
                <li><a href="../templates/protudos.html">Produtos</a></li>
                <li><a href="../templates/sobre.html">Sobre</a></li>
                <li><a href="../templates/contato.html">Fale Conosco</a></li>
            </ul>
        </nav>
        <div class="hamburger" id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    
    <div class="container">

        <div class="slide">

            
            <div class="item" style="background-image: url(../img/imgfotos/backgrond.jpg);">
                <div class="content">
                    <div class="name">Qualidade e Durabilidade
                    </div>
                    <div class="des">Descubra a qualidade e a durabilidade das ferramentas que oferecemos, projetadas para atender todos os seus projetos, grandes ou pequenos!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(../img/imgfotos/foto\ 2.jpg);">
                <div class="content">
                    <div class="name">Tudo Para Suas Reformas</div>
                    <div class="des">Na nossa loja de ferramentas, você encontra tudo que precisa para realizar suas reformas e construções com eficiência e segurança.</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(../img/imgfotos/foto\ 3.jpg);">
                <div class="content">
                    <div class="name">Preços Imbatíveis</div>
                    <div class="des">Aproveite nossos preços imbatíveis em ferramentas de marcas renomadas e faça suas compras com a certeza de qualidade!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(../img/imgfotos/foto\ 4.jpg);">
                <div class="content">
                    <div class="name">Variedade para Todos os Projetos</div>
                    <div class="des">Transforme suas ideias em realidade com a variedade de ferramentas disponíveis, desde manuais até elétricas, temos o que você precisa!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(../img/imgfotos/foto\ 5.jpg);">
                <div class="content">
                    <div class="name">Atendimento Especializado</div>
                    <div class="des">Visite nossa loja e converse com nossos especialistas, prontos para ajudar você a escolher as melhores ferramentas para o seu trabalho!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(../img/imgfotos/foto\ 6.jpg);">
                <div class="content">
                    <div class="name">Alta Performance e Dicas Valiosas</div>
                    <div class="des">Ferramentas de alta performance, atendimento personalizado e dicas valiosas para os seus projetos estão esperando por você na nossa loja!</div>
                    
                </div>
            </div>

        </div>

        <div class="button">
            <button class="prev"><i class="fa-solid fa-arrow-left">❮</i></button>
            <button class="next"><i class="fa-solid fa-arrow-right">❯</i></button>
        </div>

    </div>

    <main class="hist">
        <!-- Seção 1: Título e parágrafo à esquerda, imagem à direita -->
        <div class="section-left">
            <div class="text-content">
                <h1>Lider Equipamentos</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim itaque obcaecati labore. Odit saepe voluptates sed esse dignissimos voluptas est porro! Praesentium sapiente cum unde, qui hic libero harum! Officia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim itaque obcaecati labore. Odit saepe voluptates sed esse dignissimos voluptas est porro! Praesentium sapiente cum unde, qui hic libero harum! Officia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim itaque obcaecati labore. Odit saepe voluptates sed esse dignissimos voluptas est porro! Praesentium sapiente cum unde, qui hic libero harum! Officia!
                </p>
            </div>
            <img src="../img/imglogos/logo ruim.png" alt="" class="right-image">
        </div>
    
        <!-- Seção 2: Título e parágrafo à direita, imagem à esquerda -->
        <div class="section-right">
            <div class="text-content">
                <h1>Lider Quipamentos</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eius voluptatum debitis eum error maiores harum, soluta fugiat nobis cupiditate velit ipsa rem suscipit quisquam hic illo repellat? Mollitia, voluptates.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim itaque obcaecati labore. Odit saepe voluptates sed esse dignissimos voluptas est porro! Praesentium sapiente cum unde, qui hic libero harum! Officia!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim itaque obcaecati labore. Odit saepe voluptates sed esse dignissimos voluptas est porro! Praesentium sapiente cum unde, qui hic libero harum! Officia!
                </p>
            </div>
            <div class="curved-image-container">
                <img src="../img/imgfotos/loja da capela.jpg" alt="Imagem com Curvaturas" class="curved-image">
            </div>
        </div>
    </main>
    <!--Rodape-->
    <footer class="footer">
        <div class="containerr">
            <div class="row">
                <div class="footer-col">
                    <h4>Sobre</h4>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Nossos serviços</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Programa de Afiliados</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Preciso de ajuda</h4>
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Protudos</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Fale Conosco</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Acompanhe - nos</h4>
                    <div class="social-links">
                        <a href="#"><img src="/img/imglogos/footer1.png" alt="icone " height="30px" width="30px"></a>
                        <a href="#"><img src="/img/imglogos/footer3.png" alt="icone" height="30px" width="30px"></a>
                        <a href="#"><img src="/img/imglogos/footer2.png" alt="icone" height="30px" width="30px"></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
   <!--fim rodape-->
    <script src="../js/sobre.js"></script>
</body>
</html>